/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');


/*=============== 基本 ===============*/
*, ::before, ::after
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html
{
  scroll-behavior: smooth;
}

body
{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: black;
  color: var(--text-color);
  transition: .5s;
}

h1, h2, h3
{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul
{
  list-style: none;
}

a
{
  text-decoration: none;
}

img
{
  max-width: 100%;
  height: auto;
}

input
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/*=============== BASE ===============*/
*,::before,::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .5s; // For animation dark mode
}

h1,h2,h3
{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    line-height: 1.5;
}

ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
img
{
    max-width: 100%;
    height: auto;
}


/*=============== 可重複使用 CSS ===============*/
.section
{
  padding: 2rem 0 1rem;
}

.section__title, .section__title-center
{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.section__title__sub
{
  width: 100px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
  background: var(--container-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
}


/*=============== 布局 ===============*/
.container
{
  max-width: 1583px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid
{
  display: grid;
  gap: 1.5rem;
}