/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');


/*=============== CSS變數 ===============*/
:root
{
  --header-height: 3rem;


  /*========== 顏色 ==========*/
  --white-color: #FFF;


  /*========== 字體與字體大小 ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;


  /*========== 字體粗細 ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;


  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;


  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 968px) {
  :root
  {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/*=============== 基本 ===============*/
*, ::before, ::after
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html
{
  scroll-behavior: smooth;
}

body
{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: black;
  color: var(--text-color);
  transition: .5s;
}

h1, h2, h3
{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul
{
  list-style: none;
}

a
{
  text-decoration: none;
}

img
{
  max-width: 100%;
  height: auto;
}

input
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/*=============== BASE ===============*/
*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .5s; // For animation dark mode
}

h1,h2,h3{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    line-height: 1.5;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}


/*=============== 可重複使用 CSS ===============*/
.section
{
  padding: 4.5rem 0 1rem;
}

.section__title, .section__title-center
{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.section__title__sub
{
  width: 100px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
  background: var(--container-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
}


/*=============== 布局 ===============*/
.container
{
  max-width: 1583px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid
{
  display: grid;
  gap: 1.5rem;
}