/*=============== Banner ===============*/
.slider__container
{
    width: 100%;
    height: auto;
}

.slider
{
    width: 500%;
    border-radius: 10px;
    //overflow: hidden;
    height: 150%;
}

.slides
{
    width: 100%;
    display: flex;
}

.slides input
{
    display: none;
}

.slide
{
    width: 20%;
    transition: 1.5s ease-in-out;
}

.slide img
{
    width: 100%;
    height: auto;
    height: 85vh;
    object-fit: cover;
}

.navigation__manual
{
    position: absolute;
    width: 100%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.manual__btn
{
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: white;
    opacity: 40%;
}

.manual__btn:not(:last-child)
{
    margin-right: 30px;
}

.manual__btn:hover
{
    opacity: 80%;
}

#radio1:checked ~ .first
{
    margin-left: 0;
}

#radio2:checked ~ .first
{
    margin-left: -20%;
}

#radio3:checked ~ .first
{
    margin-left: -40%;
}


/*=============== 首頁 ===============*/
.main__BG
{
  background-image: var(--siteurl);
  background-size: 30px ;
}

.home__container
{
  row-gap: 3rem;
  display: flex;
  justify-content: center;
}

.home__title
{
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-0-75);
  color: white;
  background-color: rgb(102, 102, 102);
  width: 160px;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__title__sub
{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-0-75);
}

.home__description
{
  margin-bottom: var(--mb-2);
}

.home__banner
{
  width: 100%;
}

.home__banner__container
{
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}


/*=============== 新聞 ===============*/
.news__center
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.news__container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  gap: 0rem;
}

.news__sub__container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  gap: 0rem;
  margin: 5px;
}

.info__sub__container
{
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0rem;
  margin: 5px;
}

.news__content__outter
{
  height: 514px;
  max-width: 1100px;
}

.news__content__outter .news__top
{
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__content__outter .news__top .news__icon
{
  margin-right: 16px;
  min-width: 36px;
  max-width: 36px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.news__content__outter .news__top .news__title
{
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news__content__outter .news__top .news__title .news__title__text
{
  font-weight: var(--font-bold);
  align-items: center;
}

.news__content__outter .news__mid .news__img__1
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/news_1.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__mid .news__img__2
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/news_2.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__mid .news__img__3
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/news_3.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__mid .news__img__4
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/news_4.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__mid .info__img__1
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/info_1.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__mid .info__img__2
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/info_2.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__mid .info__img__3
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/info_3.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__mid .info__img__4
{
  height: 270px;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-image: url('../../img/info_4.jpg');
  background-position: center;
  background-size: cover;
}

.news__content__outter .news__bottom .news__textBox
{
  height: 112px;
  padding: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news__content__outter .news__bottom .news__textBox .news__textBox__text
{
  font-weight: var(--font-lite-bold);
}

.news__content__outter .news__end
{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__content__outter .news__end .moreInfo__btn
{
  width: 128.25px;
  height: 36px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid;
  font-weight: var(--font-bold);
  margin-top: 10px;
}

.news__content__outter .news__end .moreInfo__btn:hover
{
  transition: 1s ease-in-out;
  background-color: rgb(214, 214, 214);
}

.news__img__1, .news__img__2, .news__img__3, .news__img__4, .news__textBox, .news__top, .news__content__outter, .news__end
{
  width: 100%;
  padding: 10px;
}

.info__img__1, .info__img__2, .info__img__3, .info__img__4
{
  width: 100%;
  padding: 10px;
}