/*=============== MENU ===============*/
.header
{
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .5s;
  position: fixed;
}

.menu__sub
{
  display: flex;
  flex-direction: row;
  row-gap: 3rem;
  column-gap: 0rem;
  text-align: center;
}


/*=============== NAV ===============*/
.nav
{
  height: calc(var(--header-height) + 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1240px)
{
  .nav__menu
  {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .4s;
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__logo
{
    float: left;
    display: flex;
}

.nav__list
{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link, .nav__toggle
{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: 1s;
}

.nav__toggle
{
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__img
{
  max-width: 185px;
}

.nav__icon
{
  width: 15px;
  height: 15px;
  transition: 1s;
  border-radius: 50%;
  background: var(--earth-tone);
}

.nav__link:hover .nav__icon
{ 
  border-radius: 10%;
  transform: rotate(45deg) scale(0.8);
  background: #e73e49;
}


/* 右上小型 Menu 啟動 */
.show-menu
{
  top: calc(var(--header-height) + 1rem);
}


/* Menu 陰影 */
.scroll-header
{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


/*=============== 回到最上面按鈕 ===============*/
.scrollup
{
  position: fixed;
  background: var(--earth-tone);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover
{
  background-color: var(--earth-tone);
  opacity: 1;
}

.scrollup__icon
{
  font-size: 1.25rem;
  color: var(--title-color);
}


/*=============== 回到最上方按鈕位置 ===============*/
.show-scroll
{
  bottom: 3rem;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar
{
  width: .4rem;
  border-radius: .5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--text-color-light);
}


