/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');


/*=============== CSS變數 ===============*/
:root
{
  --header-height: 3rem;
  --siteurl: url(https://huabambi.com/asset/img/main_grid.png);


  /*========== 顏色 ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);

  --earth-tone-mainBG: #fffdf9;
  --earth-tone: #cbaf94;
  --earth-tone-hover: #c29c7a;
  --earth-tone-light: #dac3ac;

  --yellow-main: #fdcb35;

  --white-inner: #fff;


  /*========== 字體與字體大小 ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;


  /*========== 字體粗細 ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;


  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;


  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 968px) {
  :root
  {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/*=============== 基本 ===============*/
*, ::before, ::after
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html
{
  scroll-behavior: smooth;
}

body
{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: black;
  color: var(--text-color);
  transition: .5s;
}

h1, h2, h3
{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul
{
  list-style: none;
}

a
{
  text-decoration: none;
}

img
{
  max-width: 100%;
  height: auto;
}

input
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/*=============== 主題 ===============*/
/*========== 夜間模式 ==========*/
body.dark-theme
{
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);

  --earth-tone-mainBG: #222222;

  --white-inner: #474747;
}


/*=============== 可重複使用 CSS ===============*/
.section
{
  padding: 4.5rem 0 1rem;
}

.section__title, .section__title-center
{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.section__title__sub
{
  width: 100px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
  background: var(--container-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
}


/*=============== 布局 ===============*/
.container
{
  max-width: 1583px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid
{
  display: grid;
  gap: 1.5rem;
}


/*=============== MENU ===============*/
.header
{
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .5s;
  position: fixed;
}

.menu__sub
{
  display: flex;
  flex-direction: row;
  row-gap: 3rem;
  column-gap: 0rem;
  text-align: center;
}


/*=============== NAV ===============*/
.nav
{
  height: calc(var(--header-height) + 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1240px)
{
  .nav__menu
  {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .4s;
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__logo
{
    float: left;
    display: flex;
}

.nav__list
{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link, .nav__toggle
{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: 1s;
}

.nav__toggle
{
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__img
{
  max-width: 185px;
}

.nav__icon
{
  width: 15px;
  height: 15px;
  transition: 1s;
  border-radius: 50%;
  background: var(--earth-tone);
}

.nav__link:hover .nav__icon
{ 
  border-radius: 10%;
  transform: rotate(45deg) scale(0.8);
  background: #e73e49;
}



/* Menu 小點 */
.active-link
{
  position: relative;
}

.active-link::before
{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}


/* 右上小型 Menu 啟動 */
.show-menu
{
  top: calc(var(--header-height) + 1rem);
}


/* Menu 陰影 */
.scroll-header
{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


/*=============== 首頁 ===============*/
.main__BG
{
  background-image: var(--siteurl);
  background-size: 30px ;
}

.home__container
{
  row-gap: 3rem;
  
}

.home__title
{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-0-75);
}

.home__title__sub
{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-0-75);
}

.home__description
{
  margin-bottom: var(--mb-2);
}

.home__banner
{
  width: 100%;
}

.home__banner__container
{
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}


/*=============== 回到最上面按鈕 ===============*/
.scrollup
{
  position: fixed;
  background: var(--earth-tone);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover
{
  background-color: var(--earth-tone);
  opacity: 1;
}

.scrollup__icon
{
  font-size: 1.25rem;
  color: var(--title-color);
}


/*=============== 回到最上方按鈕位置 ===============*/
.show-scroll
{
  bottom: 3rem;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar
{
  width: .4rem;
  border-radius: .5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--text-color-light);
}


